<!--================Home Blog Area =================-->
	<section class="home_blog_area">
		<div class="row m0">
			<div class="col-lg-3 p0">
				<div class="h_blog_img">
					<img src="~/img/home-blog/h-blog-1.jpg" alt="">
				</div>
			</div>
			<div class="col-lg-3 p0">
				<div class="h_blog_text">
					<a class="cat" href="#">25 june, 2018 | By Mark Wiens</a>
					<a href="#">
						<h4>Addiction When Gambling Becomes A Problem</h4>
					</a>
					<p>Computers have become ubiquitous in almost every facet of our lives. At work, desk jockeys spend
						hours in front of their desktops.</p>
				</div>
			</div>
			<div class="col-lg-3 p0">
				<div class="h_blog_img">
					<img src="~/img/home-blog/h-blog-2.jpg" alt="">
				</div>
			</div>
			<div class="col-lg-3 p0">
				<div class="h_blog_text">
					<a class="cat" href="#">25 june, 2018 | By Mark Wiens</a>
					<a href="#">
						<h4>Addiction When Gambling Becomes A Problem</h4>
					</a>
					<p>Computers have become ubiquitous in almost every facet of our lives. At work, desk jockeys spend
						hours in front of their desktops.</p>
				</div>
			</div>
			<div class="col-lg-3 p0">
				<div class="h_blog_text">
					<a class="cat" href="#">25 june, 2018 | By Mark Wiens</a>
					<a href="#">
						<h4>Addiction When Gambling Becomes A Problem</h4>
					</a>
					<p>Computers have become ubiquitous in almost every facet of our lives. At work, desk jockeys spend
						hours in front of their desktops.</p>
				</div>
			</div>
			<div class="col-lg-3 p0">
				<div class="h_blog_img">
					<img src="~/img/home-blog/h-blog-3.jpg" alt="">
				</div>
			</div>
			<div class="col-lg-3 p0">
				<div class="h_blog_text">
					<a class="cat" href="#">25 june, 2018 | By Mark Wiens</a>
					<a href="#">
						<h4>Addiction When Gambling Becomes A Problem</h4>
					</a>
					<p>Computers have become ubiquitous in almost every facet of our lives. At work, desk jockeys spend
						hours in front of their desktops.</p>
				</div>
			</div>
			<div class="col-lg-3 p0">
				<div class="h_blog_img">
					<img src="~/img/home-blog/h-blog-4.jpg" alt="">
				</div>
			</div>
		</div>
	</section>
	<!--================End Home Blog Area =================-->