	<!--================Team Area =================-->
	<section class="team_area">
		<div class="team_slider owl-carousel">
			<div class="item">
				<div class="team_item">
					<img src="~/img/team/team-1.jpg" alt="">
					<div class="hover_text">
						<a href="#">
							<h4>Glenn Watson</h4>
						</a>
						<p>Managing Director (Sales)</p>
						<ul class="list">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
							<li><a href="#"><i class="fa fa-behance"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="team_item">
					<img src="~/img/team/team-2.jpg" alt="">
					<div class="hover_text">
						<a href="#">
							<h4>Eva Yates</h4>
						</a>
						<p>Managing Director (Sales)</p>
						<ul class="list">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
							<li><a href="#"><i class="fa fa-behance"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="team_item">
					<img src="~/img/team/team-3.jpg" alt="">
					<div class="hover_text">
						<a href="#">
							<h4>Ethan Hopkins</h4>
						</a>
						<p>Managing Director (Sales)</p>
						<ul class="list">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
							<li><a href="#"><i class="fa fa-behance"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="team_item">
					<img src="~/img/team/team-4.jpg" alt="">
					<div class="hover_text">
						<a href="#">
							<h4>Maud Graham</h4>
						</a>
						<p>Managing Director (Sales)</p>
						<ul class="list">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
							<li><a href="#"><i class="fa fa-behance"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Team Area =================-->